.itemWrapper {
    height: 38px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-family: "Arial";
    color: rgb(120, 130, 157);
    .item__icon {
        font-size: 14px;
    }
    .item__link {
        padding-left: 11px;
    }
}