.searchWrapper {
    margin-right: 20px;
    width: 200px;
    background-color: #fff;
    height: 32px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(140, 151, 178);
    border-radius: 15px;
    .searchWrapper__panel {
        padding-left: 18px;
        padding-right: 18px;
        display: flex;
        .searchInput {
            border: 0px solid transparent;
            width: 147px;
            &:focus {
                outline: none;
            }
        }
        .searchButton {
            border: 0px solid transparent;
            // width: 15px;
            // height: 15px;
            background-color: white;
            color: rgb(140, 151, 178);
            &:focus {
                outline: none;
            }
        }
    }
}

@media (max-width: 1320px) {
    .searchWrapper {
        width: 190px;
    }
}