.lastActWrapper {
    display: flex;
    font-size: 12px;
    font-family: "Arial";
    color: rgba(111, 125, 149, 0.502);
    margin-bottom: 30px;
    span {
        color: #667a8f;
    }
    .act__time {
        padding-top: 18px;
    }
}