.filterRadio {
    .item {
        font-size: 12px;
        input[type=radio] {
            display: none;
        }
        input[type=radio]+label {
            display: inline-block;
            padding: 5px 11px 5px;
            border-radius: 12px;
        }
        input[type=radio]:checked+label {
            background-image: none;
            background-color: rgb(151, 179, 206);
            color: white;
        }
    }
}

@media (max-width: 1320px) {
    .filter {
        .item {
            font-size: 12px;
            padding: 5px 10px 5px;
        }
    }
}