body {
    margin: 0;
}

.appWrapper {
    display: grid;
    width: 1680px;
    margin: 0 auto;
    grid-template-areas: "sidebar header" "sideBar content";
    grid-template-columns: 200px 12fr;
    grid-template-rows: 119px 12fr;
    font-family: "Arial";
}