    .itemCard {
        width: 200px;
        margin: 30px 0 0 20px;
        .itemImg {
            height: 275px;
            background-image: url(./../../../img/itemImg/book1.png);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 6px;
        }
        .itemName {
            margin-top: 16px;
            h1 {
                font-size: 16px;
                font-family: "Arial";
                color: rgb(68, 76, 99);
                margin: 0;
            }
        }
        .itemAuthor {
            margin-top: 10px;
            h2 {
                font-size: 12px;
                font-family: "Arial";
                color: rgb(111, 125, 149);
                margin: 0;
            }
        }
        .itemRaiting {
            margin-top: 12px;
            color: rgb(255, 171, 0);
            font-size: 14px;
        }
    }