    .itemCard {
        width: 200px;
        margin: 30px 0 0 20px;
        .itemImg {
            height: 270px;
            img {
                height: 270px;
                width: 200px;
            }
        }
        .itemName {
            margin-top: 16px;
            h2 {
                font-size: 16px;
                font-family: "Arial";
                color: rgb(68, 76, 99);
                margin: 0;
            }
        }
        .itemAuthor {
            margin-top: 10px;
            h3 {
                font-size: 12px;
                font-family: "Arial";
                color: rgb(111, 125, 149);
                margin: 0;
            }
        }
        .itemRating {
            margin-top: 12px;
            .rating {
                margin: 0;
                padding: 0;
                border: none;
                .ratingGroup {
                    position: relative;
                    width: 71px;
                    height: 13px;
                    background-image: url(./../../../img/icons/star-regular.svg);
                    background-size: 14px auto;
                    background-repeat: repeat-x;
                }
            }
        }
    }
    
    @media (max-width: 1320px) {
        .itemCard {
            width: 250px;
            .itemImg {
                width: 250px;
                height: 343px;
                img {
                    width: 250px;
                    height: 343px;
                }
            }
        }
    }